<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="addplus">+</button>
        <button @click="addSub">-</button>
        <button @click="addPow">*</button>
        <button @click="addDivide">/</button><br>
        <span style="font-size: xx-large;">{{ strmark }}</span><br>
        <input type="number" v-model="number1">
        {{ mark }}<input type="number" v-model="number2">
        =
        <span>{{ add }}</span><br>
    </div>
    <script>
         var app = new Vue({
             el: '#app',
             data: {
               number1: 0,
               number2: 0,
               mark : '+',
               result: 0,
               strmark: "การบวก",
               
             },
             methods: {
                addplus: function() {
                    this.mark= '+';
                    this.strmark= "การบวก";
                 },
                 addSub: function() {
                    this.mark= '-';
                    this.strmark= "การลบ";
                 },
                 addPow: function() {
                    this.mark= '*';
                    this.strmark= "การคูณ";
                 },
                 addDivide: function() {
                    this.mark= '/';
                    this.strmark= "การหาร";
                 },
                 add1: function() {
                    this.result=parseInt(this.number1)+parseInt(this.number2);
                 }
             },
             computed: {
                add: function() {
                    return parseInt(this.number1)+parseInt(this.number2);
                 }
               
             },
         });
    </script>
</body>
</html>